* {
    font-family: monospace;
}

body {
    padding: 6rem;
}

input {
    width: 100%;
    font-size: 1.5em;
    color: black;
}

.card-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}